* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  line-height: 1.5;
  color: var(--text-color);
  background-color: #f0f2f5;
}

#root {
  height: 100%;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: color var(--animation-duration-base);
}

a:hover {
  color: #40a9ff;
}

a:active {
  color: #096dd9;
}

button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  border-style: none;
} 